{{ define "title" }}
  {{ .Title }} &ndash;
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <section>
    {{ range .Paginator.Pages }}
      <article>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        by
        {{ .Params.author }}
        {{ time.Format ":date_long" .Date }}
        {{ with (.GetTerms "tags") }}
          <li>
            {{ range . }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </li>
        {{ end }}
        <p>{{ .Summary }}</p>
      </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </section>
{{ end }}
