<ul>
  {{ with .Site.Params.social }}
    {{ with .email }}
      <li><a rel="me" href="mailto:{{ . }}" title="Email">{{ . }}</a></li>
    {{ end }}
    {{ with .github }}
      <li>
        <a rel="me" href="https://github.com/{{ . }}" title="GitHub">
          {{ partial "svgs/github.svg" (dict "width" "32" "height" "32") }}
        </a>
      </li>
    {{ end }}
    {{ with .linkedin }}
      <li>
        <a rel="me" href="https://linkedin.com/in/{{ . }}" title="GitHub">
          {{ partial "svgs/linkedin.svg" (dict "width" "32" "height" "32") }}
        </a>
      </li>
    {{ end }}
    {{ with .mastodon }}
      <li>
        <a rel="me" href="{{ . }}" title="Mastodon">
          {{ partial "svgs/mastodon.svg" (dict "width" "32" "height" "32") }}
        </a>
      </li>
    {{ end }}
    {{ with .twitter }}
      <li>
        <a rel="me" href="https://twitter.com/{{ . }}" title="Twitter">
          {{ partial "svgs/twitter.svg" (dict "width" "32" "height" "32") }}
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
